/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('dj.jpg'); /* Cambia por tu imagen */
    background-size: cover;
    background-position: center;
    opacity: 1; /* Nivel de transparencia (0 completamente transparente, 1 sin transparencia) */

}

/* Contenedor principal */
h1, p {
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #030303;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    color: #4CAF50;
}

p {
    font-size: 16px;
    color: #28f100;
}

/* Estilo para las entradas y botones */
input, button {
    font-size: 16px;
    margin: 10px 0;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 60%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

input:focus, button:hover {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0px 2px 8px rgba(0, 150, 0, 0.3);
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Estilo para los resultados */
.result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsividad */
@media (max-width: 768px) {
    input, button {
        width: 90%;
    }
}
